<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX</title>
    <script src="./script.js" defer></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header"> 
        <nav class="navigation">
            <li><a role="userList" class="link"  href="">List of Users</a></li>
        </nav>
    </header>
    <main>
        <div class="list-wrapper">
            <ol class="list-wrapper_list">
                <div class="spinner"></div>
            </ol>
        </div>
    </main>

    <div class="loadersmall"></div>
    <footer class="footer">
        By Nazar Broslavskyi, 2020

    </footer>
</body>
</html>


<!-- <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#/page1">Page 1</a></li>
    <li><a href="#/page2">Page 2</a></li>
  </ul>
  <div id="view"></div>

  <script type="text/html" id="home">
    <h1>Router FTW!</h1>
  </script>
  <script type="text/html" id="template1">
    <h1>Page 1: <%= greeting %></h1>
    <p><%= moreText %></p>
  </script>
  <script type="text/html" src="script.js"  id="template2">
  </script> -->

