$fonts: (
  fresca: ('Fresca', sans-serif),
  source-sans-pro: ('Source Sans Pro', sans-serif),
);

$font-main: map-get($fonts, fresca);
$font-secondary: map-get($fonts, source-sans-pro);

$color-background: #262626;
$color-background-site: #191A23;
$color-underline: #fc4f3c;

$header-background-image: url(../img/m-h-night.jpg);
$color-header: white;
$color-button: #DB9D08;

$color-card: #2D2F3E;
$color-card-text: #9b9bab;

$color-footer: #2D2F3E;
$color-footer-text: #ADAFC2;

$color-banner-text: #B3B293;
$color-banner-heading: white;
$banner-gradient: to right, #daa027, #923051;