.item {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin: 0 20px;
  margin-top: 10px;

  &__button {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    font-size: 17px;
    margin-left: 5px;
    cursor: pointer;
  }

  &__form-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__buttons-container {
    display: flex;
  }

  .disabled {
    background-color: lightgrey;
  }

  &__input {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid blue;
    font-size: 16px;
  }

  &__user-info {
    flex-basis: 169px;
  }
}

.invalid-data {
  border: 2px solid red;
}


